<div class="search-wrapper">
  <h1>Search Gems</h1>
  <div class="search-bar">
    <%= text_field_tag 'q', nil, class: 'search-field', placeholder: 'Search' %>
    <%= image_submit_tag("magnifying-glass.png", class: 'search-btn') %>
  </div>
</div>
