<div class="result-wrapper">

  <div class="result">
    <div class="result-link"><a href="#">test</a></div>
    <%= image_submit_tag("star-gray.png", class: 'fav-btn') %>
  </div>

  <div class="result-information">
    <h2>Information</h2>
    <p>An automated web acceptance test framework for non-technical resources using selenium-wedriver.</p>
  </div>

  <div class="result-dependencies">
    <h2>Dependencies</h2>
    <div class="result">
      <div class="result-link"><a href="#">test</a></div>
      <%= image_submit_tag("star-gray.png", class: 'fav-btn') %>
    </div>
    <div class="result">
      <div class="result-link"><a href="#">test</a></div>
      <%= image_submit_tag("star-gray.png", class: 'fav-btn') %>
    </div>
    <div class="result">
      <div class="result-link"><a href="#">test</a></div>
      <%= image_submit_tag("star-gray.png", class: 'fav-btn') %>
    </div>
  </div>

</div>
