// Fonts
$sans: 'Lato', sans-serif;

// Font colors
$white: #fff;
$gray: #2c2f33;
$mid-gray: #5f5f5f;
$light-gray: #8e8e8e;
$blue: #1f6bde;

// Errors
$error-red: #FF4F4F;

// Sizes
$search-width: 65%;
