.favorites-list {
  margin-top: 50px;
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;

  @media screen and (max-width: $break-small) {
    margin-top: 25px;
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
  }

  .favorite {
    margin-bottom: 20px;

    * {
      display: inline-block;
      margin-right: 10px;
      font-size: 1.15em;
      letter-spacing: 0.5px;

      a {
        color: $blue;
      }
    }
  }
}
