$offset-pad: 50px;

.search-wrapper {

  > * {
    padding-left: $offset-pad;

    @media screen and (max-width: $break-small) {
      padding-left: 0px;
    }

  }

  .search-bar {
    max-width: $search-width;
    border: 1px solid $mid-gray;
    border-radius: 100px;
    margin-top: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: $offset-pad;

    @media screen and (max-width: $break-small) {
      max-width: 100%;
      padding: 25px;
    }

    &.error {
      border-color: $error-red;
    }

    .search-field {
      width: 90%;
    }

    input {
      border: none;
      font-size: 1em;
      color: $mid-gray;

      &.error {
        color: $error-red;
      }
    }

    .search-btn {
      float:right;
      text-align: right;
    }
  }
}
