.sidebar {
  height: 100vh;
  width: 100%;
  background: image-url('map.png');
  padding-bottom: 62.5%; // ratio is 16:10
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;

  .logo {
    text-align: right;
    padding: 25px 35px;
  }

  .nav {
    float: right;
    position: relative;
    top: 50%;

    .nav-i {
      width: 125px;
      padding-top: 16px;
      padding-bottom: 16px;
      padding-left: 20px;

      a {
        text-align: left;
        color: $white;
        font-size: 1.05em;
        letter-spacing: 0.03em;
        line-height: 1.55em;
      }
    }

    .active {
      background: rgba(255,255,255,0.17);
    }
  }
}
