// Bootstrap mods
.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

// Overall styles
body {
  max-width: 1920px;
  font-family: $sans;
  color: $gray;
}

.site-main {
}

.main-wrapper {
  width: 80%;
  margin-left: 60px;
  padding-top: 200px;
}
