// Bootstrap mods
.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

// Overall styles
body {
  max-width: 1920px;
  font-family: $sans;
  color: $gray;

  @media screen and (max-width: $break-small) {
    text-align: center;
  }
}

.site-main {
}

.main-wrapper {
  width: 80%;
  margin-left: 100px;
  padding-top: 175px;

  @media screen and (max-width: $break-small) {
    padding-top: 25px;
    margin-left: 0px;
    width: 100%;
  }
}
