<div class="sidebar">
  <div class="header">
    <div class="logo">
      <%= image_tag "teachable-logo.png" %>
    </div>
  </div>
  <div class="nav">
    <div class="nav-i active">
      <a href="/">Search</a>
    </div>
    <div class="nav-i">
      <a href="/favorites">Favorites</a>
    </div>
  </div>
</div>
