<!DOCTYPE html>
<html>
<head>
  <title>FrontendTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row">

      <div class="col-lg-3 col-md-4 col-sm-4 site-sidebar">
        Sidebar here
      </div>

      <div class="col-lg-9 col-md-8 col-sm-8 site-main">
        <div class="main-wrapper">
          <%= yield %>
        </div>
      </div>

    </div>
  </div>
</body>
</html>
